app:
  name: operator
  image:
    repository: "onecx/onecx-permission-operator"
  envCustom:
    - name: KUBERNETES_NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
  serviceAccount:
    enabled: true
  operator:
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            defaultClientScopes: [ ocx-pm:write ]
    microservice:
      spec:
        description: OneCX Permission Operator
        name: OneCX Permission Operator